div .col-md-3{
    color: #fff;
    background-color: rgb(4, 0, 255);
    padding: 80px 4%;
    border: 2px #000 solid;
    margin-top: auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}